.layout {
  display: flex;
  min-height: 100vh;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}

.layout-content {
  flex: 1;
  padding: 1.5rem;
  background-color: var(--background-color);
  overflow-y: auto;
}

@media (max-width: 768px) {
  .layout-main {
    margin-left: 0;
  }
}
